
*.jpg
*.png
*.jpeg
*.pth
*.pt
*.csv
Transfer Learning for British Sign Language Modelling.pdf
Real-time American Sign Language Recognition with Convolutional Neural.pdf
*.mp4
.ipynb_checkpoints/gesture_detector-checkpoint.ipynb
.ipynb_checkpoints/Live Gesture Detector-checkpoint.ipynb
.ipynb_checkpoints/sign-language-classifier-convnet-with-pytorch-checkpoint.ipynb
.ipynb_checkpoints/Take 2-checkpoint.ipynb
.ipynb_checkpoints/Transfer Learning in PyTorch-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
